<html>

<body>
<table class="table table-hover">
    <thead>
    <tr>
        <td>Document Id</td>
        <td>File Name</td>
        <td>Upload Date</td>
        <td>Last Accessed Date</td>
        <td>File Size</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let document of documents">
            <td>{{ document.documentID }}</td>
            <td>{{ document.fileName }}</td>
            <td>{{ document.uploadDate  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ document.lastAccessedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ document.fileSize }}</td>
            <td><button type="button" (click)="getFile(document.documentID,document.fileName)"  mdbBtn color="primary" mdbWavesEffect>Download</button></td>
        </tr>
    </tbody>
  </table>
</body>
  </html>